.table_cart{
    padding: 40px  0;
    overflow-x: auto;
    table{
        width: 100%;
    
        thead tr th{
            text-align:start;
        }

        td,th{
            padding: 20px 0;
        }

        .shopping_cart{
            display: flex;
            align-items: center;
            gap: 20px;
            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
        }
        .icon_close{
            cursor: pointer;
            svg{
                transform: rotate(0deg);
                transition: transform 0.5s ease-in-out;
            }
        
            &:hover{
                color: red;
                svg{
                    transform: rotate(360deg);
                }
        
            }
        }
    }
}

.shopping_content{
    margin-top: 30px;

    h3{
        margin-top: 10px;
    }

    .shopping_discount{
        display: flex;
        align-items: center;
        padding-right:20px ;
        column-gap: 20px;

        button{
            height:40px;
            width:100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background:skyblue;
            color: white;
            border: none;
        }
        input{
            height: 40px;
            width:400px;
            border: 1px solid #ccc;
        }
    }
}

.shopping_checkout{
    padding: 30px;
    padding-top:20px;
    margin-top: 50px;
    width: 600px;
    ul li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        list-style: none;
    }
    button{
        height:40px;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background:skyblue;
            color: white;
            border: none;
    }
}